{% extends "layouts/base.html" %}
{% load static %} 

{% block title %} About Us 
{% endblock title %}

{% block content %} 
    <h1 style="color: blue;">About Us KH</h1> <!-- add inline css -->
    <p style="color: white;background-color: black;">This is a paragraph text This is a paragraph text This is a paragraph text
        This is a paragraph text </p>
    <!-- add inline css -->
    <p>To write to <a href="mailto:email@domain.com">our store</a>, click the link
        and your default email client will open an email message and address it to us. </p>
    <hr>

{% endblock content %}
