{% extends "layouts/base.html" %}
{% load static %} 

{% block title %} List of Books {% endblock title %}

{% block content %} 
    <h1 style="color: green;">List of Books KH</h1> <!-- add inline css -->
    
    <a href="one_book.html">
        <h2 style="color: lightskyblue;">Internet & World Wide Web How to Program</h2>
    </a>
    
    <a href="one_book.html"><img src="{% static 'book1.jpg' %}" alt="Book1 img desc" width="200" height="200"></a>
    <hr>
    <h2 style="color: lightskyblue;">2) C++ How to Program, Late Objects Version</h2>
    <img src="{% static 'book2.jpg' %}" alt="Book2 img desc" width="200" height="200">
    <hr>
    <h2 style="color: lightskyblue;">3) Images in Another Folder</h2>
    <img src="{% static 'book3.jpg' %}" alt="Book3 img desc" width="200" height="200">
    <hr>
{% endblock content %}