{% extends "layouts/base.html" %}
{% load static %}
{% block title %} listing HTML5 Page
{% endblock title %}
{% block content %}


<h1 style="
color: rgb(255, 255, 255);
 background-color: rgb(13, 0, 255);
 text-align: left;
 font-size: 40px;
  "> The best features of the internet</h1>

<ul>
    <li>you can meet new people from around the world</li>
    <li>you can have access to new media as it get's published</li>
    <ul>
        <li>new games </li>
        <li>new applications</li>
        <ol>
            <li>For business</li>
            <li>for pleasure</li>
        </ol>
        <li>around the clock news</li>
        <li>Search engines</li>
        <li>Shopping</li>
        <li>programming</li>
        <ol>
            <li>XML</li>
            <li>HTml5</li>
            <li>Java</li>
        </ol>

    </ul>
    <li>Links</li>
    <li>keeping in touch with old friends</li>
    <li>it's the technology of the future!</li>

</ul>

{% endblock content %}