{% extends "layouts/base.html" %}
{% load static %}
{% block title %} links HTML5 Page 
{% endblock title %}
{% block content %}

<style>
    .fruit-table th {
        border: 1px solid;
    }

    .fruit-table{
        margin-left: 400px;
        text-align: center;
        border: 1px solid;
    }

    .camel-table {
        margin-left: 20px;
        margin-top: 20px;
        width: 800px;
        border: 1px solid;
        border-collapse: collapse;
        text-align: center;

    }

    .camel-table th{
        border: 1px solid;
    }
    .camel-table td {
        border: 1px solid;
    }

    .fruit-cell {
        font-weight: lighter;
    }
</style>

<table class="fruit-table">
    <caption  >Table 1: Table of Fruits and Their prices</caption>
        <tr>
            <th>Fruit</th>
            <th>Price</th>
        </tr>
        <tr>
            <th class="fruit-cell">Apple</th>
            <th class="fruit-cell">$0.25</th>
        </tr>
        <tr>
            <th class="fruit-cell">Orange</th>
            <th class="fruit-cell">$0.50</th>
        </tr>
        <tr>            
            <th class="fruit-cell">Banana</th>
            <th class="fruit-cell">$1.00</th>
        </tr>
        <tr>
            <th class="fruit-cell">Pineapple</th>
            <th class="fruit-cell">$2.00</th>
        </tr>
        <tr> 
            <th>Total</th>
            <th>$3.75</th>
        </tr>
</table>

    <table class="camel-table">
    <caption style="text-align: center;">Table 2: A more complex sample table </caption>
        <tr>
            <td rowspan="2" class="image-cell">
                <img src="{% static 'desert.jpg' %}" alt="Desert Image" width="200">
            </td>
            <td colspan="4" class="header-cell" style="font-weight: bold; text-align: center;">
                Camelid comparison <br> Approximate as of 6/2011
            </td>
        </tr>
        <tr>
            <th># of humps</th>
            <th>Indigenous region</th>
            <th>Spits?</th>
            <th>Produces wool?</th>
        </tr>
        <tr>
            <td><b>Dromedary</b></td>
            <td>1</td>
            <td>Arabian Peninsula</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><b>Camels (bactrian)</b></td>
            <td>2</td>
            <td>Africa/Asia</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><b>Llamas</b></td>
            <td>1</td>
            <td>Andes Mountains</td>
            <td>Yes</td>
            <td>Yes</td>
        </tr>
    </table>


{% endblock content %}